* 
{
  background-color: #001100;
  font-family: Lucida Console, Monaco, monospace;
  color: #00EE00;
  font-size: 12px;
}

body 
{
    background-color: #001100;
    font-family: Lucida Console, Monaco, monospace;
    color: #00EE00;
    font-size: 12px;

}

input, .input
{
    background-color: #001100;
    white-space:nowrap;
    width: 80%;
    border: none;
    padding: 0px;
    outline: none;
    margin: 0px;
    font-family: Lucida Console, Monaco, monospace;
    color: #00EE00;
    font-size: 12px;
    line-height: 160%;
    /* moet weg */
    /* border: 1px green solid; */
    
}

iframe 
{
  padding: 0px;
  border: 1px green solid;
}